
body{
    margin:0;
    padding-top:5vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(245 204 127);
}

#Calculadora {
    aspect-ratio: 3/4;
    border: 4px solid black;
    border-radius: 8px;
    height:80vh;
    max-height: 80vh;
    margin: 4vh auto;
    display :flex;
    flex-direction: column;

}

.Display {
    
    flex-grow: 2;
    justify-content: right;
    align-items: end;
    display:flex;
    padding:1% 3% 1% 3%;
}

.Display.first {
    font-size: 140%;
    height: 6%;
    background-color: lightskyblue;
    border-radius: 4px;

}

.Display.second {
    background-color: #aae7e4;;
    height: 4%;
}

#Teclado {
    background-color: beige;
    flex-grow: 4;
    display:flex;
    flex-direction: column;
    padding:5%;
    gap:1%;
    height:92%;
}

.button-row{
    display: flex;
    flex:1 0 0;
    gap: 1%
}

button {
    flex:1 1 auto;
    width: 25%;
    font-size: 200%;
}

.button.text{
    flex:1 1 auto;
    aspect-ratio: 2/1;
    font-size: 200%;
}

footer{
    padding: 2.5vh;
    height:10vh;
    max-height: 10vh;
    background-color: lightsalmon;
    text-align: center;
}

