
body{
    padding-top:10vh;
}

#Calculadora {
    aspect-ratio: 3/4;
    border: 4px solid black;
    height:80vh;
    margin: 0 auto;
    display :flex;
    flex-direction: column;
}

.Display {
    background-color: lightgrey;
    flex-grow: 2;
    justify-content: right;
    align-items: end;
    display:flex;
    padding:1% 3% 1% 3%;
}

.Display.fase1 {
    font-size: 140%;

}

.Display.fase2 {
    background-color: gray;
}

#Teclado {
    background-color: beige;
    flex-grow: 4;
    display:flex;
    flex-direction: column;
    padding:5%;
    gap:1%
}

.button-row{
    display: flex;
    flex:1 0 auto;
}

button {
    flex:1 1 auto;
    aspect-ratio: 1/1;
    width: 25%;
    font-size: 200%;
}

