
body{
    margin:0;
    padding-top:5vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(245 204 127);
}

#Calculadora {
    aspect-ratio: 3/4;
    border: 4px solid black;
    border-radius: 8px;
    height:80vh;
    max-height: 80vh;
    margin: 4vh auto;
    display :flex;
    flex-direction: column;
    background-color: beige;
    justify-content: space-evenly;

}

#displays-container{
    height: 10%;
    width:90%;
    align-self: center;
    box-sizing: border-box;
    border:2px solid black;
    border-radius: 10px;
}

.Display {
    flex-grow: 2;
    justify-content: right;
    align-items: end;
    display:flex;
    box-sizing: border-box;
    padding:1% 3% 1% 3%;

}

.Display.first {
    font-size: 140%;
    height: 60%;
    background-color: lightskyblue;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.Display.second {
    background-color: #aae7e4;;
    height: 40%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#Teclado {
    flex-grow: 4;
    display:flex;
    flex-direction: column;
    padding:5%;
    gap:1%;
    max-height:80%;
    box-sizing: border-box;
}

.button-row{
    display: flex;
    flex:1 1 0;
    gap: 1%
}

button {
    flex:1 1 auto;
    width: 25%;
    font-size: 200%;
}

.button.text{
    flex:1 1 auto;
    aspect-ratio: 2/1;
    font-size: 200%;
}

footer{
    padding: 2.5vh;
    height:10vh;
    max-height: 10vh;
    background-color: lightsalmon;
    text-align: center;
}

